<html>
    <head>
        <title>Home Page</title>
        <link href="http://net.sjlee.cdn.s3-website-us-east-1.amazonaws.com/assets/css/web/gradient-azure/ej.widgets.all.min.css" rel="stylesheet" />

        <!--Scripts-->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://borismoore.github.io/jsrender/jsrender.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="http://cdn.syncfusion.com/js/ej.widgets.all-latest.min.js"></script>
    </head>
    
    <body>
        Hello from template.
        <br /><br />
        Here is the membership:
        <div id="Grid"></div>
        <script type="text/javascript">
            $(function () {
                // the datasource "window.gridData" is referred from jsondata.min.js
                var gridData = {{membershipList | safe}}
                var detailGridData = {{contactEntriesList | safe}}
                var data = ej.DataManager(gridData).executeLocal(ej.Query().take(50));
                $("#Grid").ejGrid({
                    dataSource: data,
                    allowPaging: true,
                    pageSettings: { pageSize: 5 },
                    allowSorting: true,
                    columns: [
                            { field: "fields.LastName", headerText: "Last Name", width: 75 },
                            { field: "fields.FirstName", headerText: "First Name", width: 80 },
                            { field: "fields.MiddleName", headerText: "Middle Name", width: 75 },
                            { field: "fields.Birthday", headerText: "Birth Date", width: 80 },
                            { field: "fields.Anniversary", headerText: "Anniversary", width: 80 }
                    ]
                });
            });
        </script>
        {{ contactEntriesList }}
    </body>
</html>