<html>
    <head>
        <title>Home Page</title>
        <link href="http://net.sjlee.cdn.s3-website-us-east-1.amazonaws.com/assets/css/web/gradient-azure/ej.widgets.all.min.css" rel="stylesheet" />
        <link href="http://s3.amazonaws.com/net.sjlee.cdn/assets/css/tcnanywhere/main.css" rel="stylesheet"

        <!--Scripts-->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://borismoore.github.io/jsrender/jsrender.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="http://cdn.syncfusion.com/js/ej.widgets.all-latest.min.js"></script>
    </head>
    
    <body>
        <div id="header">
            <img src="http://s3.amazonaws.com/net.sjlee.cdn/assets/images/TCNAnytimeLogo.png" />
        </div>
        <div id="navMenu" style="left:0px;width:180px;height:100%;padding:10px;background-color:rgb(128,0,0);color:rgb(255,255,255);">
            <a href="http://tcnanywhere-170705.use1.nitrousbox.com/ssreport" style="color:#fff;">Sunday School Report</a>
            <a href="http://tcnanywhere-170705.use1.nitrousbox.com/datagrid" style="color:#fff;">Data Grid</a>
        </div>
        <!--
        Hello from template.
        <br /><br />
        Here is the membership:
        <br />
        {{ membershipList }}
        <br /><br />
        Here are the contact entries:
        <br />
        {{ contactEntriesList }}
        -->
    </body>
</html>